body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Dark grey background */
    color: #ffffff; /* White text */
    overflow-x: hidden; /* Prevent horizontal scroll */
}

.hero-section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #fff;
    text-align: center;
    overflow: hidden; /* Prevent overflow issues with the cursor */
}

.hero-section h1 {
    display: inline-block; /* Ensure text is properly centered */
}

.typewriter {
    overflow: hidden;
    border-right: 0.15em solid #ffffff; /* Cursor color changed to white */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #ffffff; }
}

.menu-buttons {
    margin-top: 20px;
}

.menu-buttons button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.menu-buttons button:hover {
    background-color: #555;
}

.content-section {
    padding: 80px 20px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#projects .projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-card {
    background-color: #1e1e1e; /* Darker card background */
    color: #ffffff; /* White text */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    max-width: 300px;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 500px;
    border: 1px solid #444; /* Slightly lighter border */
    background-color: #1e1e1e; /* Darker background for inputs */
    color: #ffffff;
    border-radius: 4px;
}

#contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #1c1c1c;
    color: #fff;
}

footer .social-icons {
    margin-top: 10px;
}

footer .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}

@media (max-width: 768px) {
    .projects-grid {
        flex-direction: column;
        align-items: center;
    }
}
