        /* Dark mode styles */
        .bg-custom-dark { background-color: #040404; }
        .bg-custom-hover { background-color: #535353; }
        .bg-custom-content { background-color: #1b1b1b; }
        .text-custom-light { color: #e0e0e0; }

        /* Light mode styles */
        .light-mode { background-color: #ffffff; } /* Changes body background in light mode */
        .light-mode .bg-custom-dark { background-color: #ffffff; }
        .light-mode .bg-custom-hover { background-color: #e0e0e0; }
        .light-mode .bg-custom-content { background-color: #f9f9f9; }
        .light-mode .text-custom-light { color: #181818; } /* Darker text for readability */


        /* Hover effect for both modes */
        .hover-effect:hover { transform: translateY(-5px); transition: transform 0.3s ease; }
        /* Theme Toggle Slider */
        .theme-switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
        }

        .theme-switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #cccccc;
            border-radius: 25px;
            transition: 0.4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 19px;
            width: 19px;
            left: 3px;
            bottom: 3px;
            background-color: white;
            border-radius: 50%;
            transition: 0.4s;
        }

        input:checked + .slider {
            background-color: #454545;
        }

        input:checked + .slider:before {
            transform: translateX(24px);
        }

        /* Default dark mode button styles */
        .learn-more-btn {
            background-color: white;
            color: black;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        /* Light mode button styles */
        .light-mode .learn-more-btn {
            background-color: black;
            color: white;
        }